<body class="bg">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>

    <div class="contact-us-box col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4">An alle Nymphomaninnen und Masochisten!</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">

        In den verborgenen Ecken des dunklen Cölns in der Dürener Strasse 284, in dessen unentdeckten Winkeln sich Dominas und Toyboys vergnügen, verbirgt sich am 18.02.2023 der Cinky Playground.
        <br>Zwischen Lack und Leder eröffnet sich die Spielkammer für alle Coitusexperten, Camasutraspezialistinnen und pfetish Polizisten.
        <br>Beim CarnePall Pizzar treffen cölsche Pfetischisten auf clein Perverse in bekannter Gesellschaft.
        <br>Zur 20. Stunde des Dritten Tages verwirklichen sich versaute Pfantasien in Höhepunkt bringende Realitäten.
        <br>CosPlay-Cennerinnen, Cölsch-Peitscher und FKK-Proleten tauschen blaue Pillen gegen goldenes Wasser und stimulieren damit bisher unentdeckte Bedürfnisse.
        <br>Unter dem Einfluss des Selbstbewusstseins beflügelnden Wassers nähern sich Crossdresser und Voyeurismus-Fessler im Laufe des Abends an.
        <br>
        <br>
          Türregeln:
          <br>
            - dress less to impress
          <br>
            - leichte Bekleidung empfohlen, da keine Garderobe
          <br>
            - Für Ticket-Informationen: Contact your personal CPist
          <br>
            - 44 € Lustcoins an Paypal: cp@copierpresse.de
          <br>

      </h5>
    </div>

    <div class="disco-button mb-5">
      <%= link_to "Costume Inspiration", dress_path, class:"btn-dress-here", role:"button" %>
    </div>

    <div class="disco-button">
      <%= link_to "Disco", root_path, class:"btn-disco-here-2", role:"button" %>
    </div>

    <div class="back-button">
      <%= link_to "English Version", english_path, class:"btn-home-here-enlish", role:"button" %>
    </div>

    <div class="cp-logo-home">
      <%= image_tag "cp-logo-extended.png"%>
    </div>
  </div>
</body>
