<body class="bg">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>

    <div class="back-button">
      <%= link_to "German Version", root_path, class:"btn-home-here-enlish", role:"button" %>
    </div>

    <div class="contact-us-box col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4">To all nymphomaniacs and masochists!</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">
        On February 18, 2023, the Cinky Playground will be hidden in the hidden corners of little Berlin at Dürener Strasse 284. 50935 Cologne
        Between vinyl and leather, the playroom opens up for all coitus experts, camasutra specialists and fetish police officers.
        At the CarnePall, Bizzar Cologne whistleblowers meet little perverts.
        <br>
        <br>
        At the 21st hour, Cinky Phantasies transform into climaxing realities.
        CosPlay-Cnowers and nudist proles exchange blue pills for golden water and thus stimulate previously undiscovered needs.
        <br>
        Under the influence of the self-confidence-inspiring water, even the last flowers throw off any prudishness and delight in the extravagant Party.

        <br>
        Door rules:
        <br>
        - Dress less to impress
        - Light clothing recommended as there is no cloakroom
        <br>
        - For tickets: Contact your personal cinky master
        <br>
        - 48 Lustcoins
        <br>
      </h5>
    </div>

    <div class="disco-button mb-5">
      <%= link_to "Costume Inspiration", dress_path, class:"btn-dress-here", role:"button" %>
    </div>

    <div class="disco-button">
      <%= link_to "PUSH ME DADDY", disco_path, class:"btn-disco-here", role:"button" %>
    </div>



    <div class="cp-logo-home">
      <%= image_tag "cp-logo-extended.png"%>
    </div>
  </div>
</body>
