<body class="bg">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>


    <div class="contact-us-box col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4">To all nymphomaniacs and masochists!</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">
        <br>
          In the hidden corners of the dark Cologne in the Dürener Strasse 284 50935, in whose undiscovered corners Dominas and Toyboys enjoy themselves, hides the Cinky Playground on the 18/02/2023.
        <br>
          Between vinyl and leather opens the playroom for all coitus experts, camasutra specialists and Fetish policemen.
          At the Carneval bizzar, cologne pfetishists meet small pervs in familiar company.
        <br>
          At the 20th hour of the Third Day, kinky fantasies materialize into climaxing realities.
          CosPlay-knowers, Cologne-whipers and FKK-proles exchange blue pills for golden water and thus stimulate previously undiscovered needs.
        <br>
          Under the influence of the self-confidence inspiring water, crossdressers and voyeurism fetishists get closer over the course of the evening.
        <br>
        Door rules:
        <br>
        - Dress less to impress
        <br>
        - Light clothing recommended as there is no cloakroom
        <br>
        - For tickets: Contact your personal cinky master
        <br>
        - When? 18/2/2023 8:00pm
        <br>
        - 44,- Lustcoins (€)
        <br> Paypal: cp@copierpresse.de
        <br>
      </h5>
    </div>

    <div class="disco-button mb-5">
      <%= link_to "Costume Inspiration", dress_path, class:"btn-dress-here", role:"button" %>
    </div>

    <div class="disco-button">
      <%= link_to "Disco", root_path, class:"btn-disco-here-2", role:"button" %>
    </div>

    <div class="back-button">
      <%= link_to "German Version", disco_path, class:"btn-home-here-enlish", role:"button" %>
    </div>

    <div class="cp-logo-home">
      <%= image_tag "cp-logo-extended.png"%>
    </div>
  </div>
</body>
