<body class="bg">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>

    <div class="back-button">
      <%= link_to "English Version", english_path, class:"btn-home-here-enlish", role:"button" %>
    </div>

    <div class="contact-us-box col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4">An alle Nymphomanen und Masochisten!</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">
        An den verborgen Ecken des kleinen Berlins in der Dürener Strasse 284, verbirgt sich am 18.02.2023 der Cinky Playground. Zwischen Lack und Leder eröffnet sich die Spielkammer für alle Koitusexperten, Kamasutraspezialisten und fetish Polizisten. Beim CarnePall Bizzar treffen Cölsche Pfetischisten auf clein Perverse.<br>
        Zur 21. Stunde verwandeln sich versaute Pfanasien in höhepunkt bringende Realitäten. <br><br>

        Am Abend des 18. Februars verwandeln sich versaute Pfanasien in höhepunkt bringende Realitäten.<br>
        CosPlay-Cenner, Cölsch-Peitscher und FKK-Proleten tauschen blaue Pillen gegen goldenes Wasser und stimulieren damit bisher unentdeckte Bedürfnisse.<br>
        Unter dem Einfluss des Selbstbewusstseins verleihenden Wassers nähern sich Crossdresser und Voyeurismus-Fessler gegenseitig an.<br>
        Unter dem Einfluss des Selbstbewusstsein beflügelnden Wassers werfen  selbst die letzten Blümchen jegliche Prüdheit ab und ergötzen sich an dem extravaganten Gelage.<br>


        <br>Türregeln:
        <br>
        - dress less to impress
        - leichte Bekleidung empfohlen, da keine Garderobe
        <br>
        - Für Tickets: Contact your personal cinky Master
        <br>
        - 48 Lustcoins
        <br>
      </h5>
    </div>

    <div class="disco-button mb-5">
      <%= link_to "Costume Inspiration", dress_path, class:"btn-dress-here", role:"button" %>
    </div>

    <div class="disco-button">
      <%= link_to "PUSH ME DADDY", disco_path, class:"btn-disco-here", role:"button" %>
    </div>



    <div class="cp-logo-home">
      <%= image_tag "cp-logo-extended.png"%>
    </div>
  </div>
</body>
